 <p id = 'sign_in'>Sign in</p>
 <h1>Welcome to Blocipedia: Social Wikis</h1>
 
-<div class = 'wikis centered-text'> Create and share your Wikis!
+<div class = 'box centered-text'> Create and share your Wikis!
   <div class = 'green-btn centered-below centered-text'> Sign up</div>
 </div>
 
 <div class = 'row'>
 
   <div class="col-md-4 col-md-offset-2 low-margin">Create unlimited number<br>
   of free wikis with free plan<br> 
     <div class = "green-btn centered-text">Free</div>
   </div> 
 
   <div class="col-md-4 col-md-offset-2 low-margin">Create private wikis<br> with
     premium plan<br>
     <div class = "green-btn centered-text">Premium</div>
   </div>
 
 </div>