 <br>
 <div class="jumbotron">
   <div class="header-welcome">
     <h1>Welcome to Blocipedia</h1>
     <p> "Create your own wikis!" </p>
  </div>

 
<div class="row-info-head">
   <div class="col-md-12">
     <h2>Blocipedia is an application that allows users to create public and private Markdown-based wikis!</h2>
   </div>
</div>
<div class="row-info">
   <div class="col-md-6">
     <h3>Use Blocipedia to create, read, update, and delete wikis.</h3>
   </div>
   <div class="col-md-6">
     <h3>Premium users can create private wikis, and add/remove your own collaborators.</h3>
   </div>
 </div>